
<%-include('../layouts/adminHeader.ejs')%>
<%-include('../layouts/adminSidebar.ejs')%>


<style>
    .card-body{
        background-color: #fffefe;
    }
    .container-fluid{
        background-color: #dddada;
    }
    .body {
    font-family: 'Poppins', sans-serif;
}

.h1, .h2, .h6 {
    font-family: 'Roboto', sans-serif;
}
.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
.card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-color: #007bff;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.container-fluid {
    padding: 20px;
}

.row > div {
    margin: 10px;
}
.body {
    background-color: #f4f4f4;
    color: #333;
}
.card {
            border-radius: 10px;
            transition: transform 0.2s, box-shadow 0.2s;
        }
        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            background-color: #ded7e4;
        }
        .card-body {
            padding: 1.5rem;
            
        }
        .badge {
            background-color: #007bff;
        }
        .font-weight-medium {
            font-weight: 500;
        }
        .font-12 {
            font-size: 12px;
        }
        .text-dark {
            color: #343a40 !important;
        }
        .text-muted {
            color: #6c757d !important;
        }
        .opacity-7 {
            opacity: 0.7;
        }
        .text-truncate {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .swiper-container {
      width: 80%;
      height: 650px;
      margin: auto;
    }
    .swiper-slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
     .swiper-slide img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border: 2px solid #007bff; /* Add border style here */
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }
        .swiper-container {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    z-index: 1; /* Ensure the container is above other elements */
}



.category-box {
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ded7e4;
    transition: transform 0.2s ease;
    text-align: center;
}

.category-box:hover {
    transform: translateY(-10px);
}

.category-content {
    padding: 15px;
}

.category-box p {
    margin: 5px 0;
}

     /* Swiper Slide Animation */
.game-box {
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ded7e4;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-align: center;
}

.game-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.game-image {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    margin-left: 35px;
}
   
</style>
<script src="https://d3js.org/d3.v7.min.js"></script>



        </header>
        
        <div class="page-wrapper">
            
            <!-- ============================================================== -->
            <div class="container-fluid">
                
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="card border-end">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="d-inline-flex align-items-center">
                                            <h2 class="text-dark mb-1 font-weight-medium"><%= orderCount %> </h2>
                                            
                                        </div>
                                        <br>
                                        <h6 class="text-muted font-weight-bold mb-0 w-100 text-truncate">TOTAL NUMBER OF ORDERS
                                        </h6>
                                    </div>
                                    <div class="ms-auto mt-md-3 mt-lg-0">
                                        <span class="opacity-7 text-muted"><i data-feather="shopping-cart"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card border-end ">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <h2 class="text-dark mb-1 w-100 text-truncate font-weight-medium"><sup
                                                class="set-doller"></sup><%= totalOrderAmount %></h2>
                                        <h6 class="text-muted font-weight-bold mb-0 w-100 text-truncate">TOTAL REVENUE</h6>
                                    </div>
                                    <div class="ms-auto mt-md-3 mt-lg-0">
                                        <span class="opacity-7 text-muted"><i class="fas fa-rupee-sign"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card border-end ">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="d-inline-flex align-items-center">
                                            <h2 class="text-dark mb-1 font-weight-medium"><%= gameCount %></h2>
                                           
                                        </div>
                                        <h6 class="text-muted font-weight-bold mb-0 w-100 text-truncate">TOTAL GAMES SOLD</h6>
                                    </div>
                                    <div class="ms-auto mt-md-3 mt-lg-0">
                                        <span class="opacity-7 text-muted"><i class="fas fa-gamepad"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-2">
                        
                        <div  class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Go to </h6>
                                        <a href="/admin/loadSalesReport" style="text-decoration: none;">SALES REPORT</a>
                                        
                                        
                                    </div>
                                    <div class="ms-auto mt-md-3 mt-lg-4">
                                        <span class="opacity-7 text-muted"><i data-feather="bar-chart"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--///////////////////////////// chart sectoin    //////////////////////////////////-->
                <div class="col-lg-12"> 
                    <div class="card ">                       
                        <div class="card-body">
                            <div class="dropdown">                               
                                <select name="sortby" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" id="sortby" aria-haspopup="true" class="form-control" aria-expanded="false">
                                    <option value="">Choose...</option>
                                    <option value="weekly">Weekly</option>
                                    <option value="monthly">Monthly</option>
                                    <option value="yearly">Yearly</option>
                                </select>
                            </div>
                            <div class="d-flex align-items-center">                                                 
                                <canvas id="myChart" style="width:100%;max-width:700px; margin-top: 50px; margin-bottom: 50px;  margin-left: 100px;" ></canvas>                               
                            </div>


                            <!-- TOP SELLING GAMES---------------------------------->
                            <div class="text-center">
                                <h1 class="font-weight-bold">TOP SELLING CATEGORIES</h1><br><br><br>
                            </div>
                            <div class="row" style="margin-left: 100px;">
                                <% categories.forEach((item, index) => { %>
                                    <div class="col-lg-2 category-box">
                                        <div class="category-content">
                                            <p class="font-weight-bold" style="font-size: large;">TOP <%= index + 1 %></p>
                                            <p class="font-weight-bold">SOLD: <%= item.categorySalesCount ? item.categorySalesCount : 0 %></p>
                                            <p class="font-weight-bold"><%= item.name %></p>
                                        </div>
                                    </div>
                                <% }) %>
                            </div><br><br>
                            


                            <!-- TOP SELLING GAMES---------------------------------->
                            <div class="text-center">
                                <h1 class="font-weight-bold">TOP SELLING GAMES</h1><br><br><br>
                            </div>
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <% games.forEach((item, index) => { %>
                                        <div class="swiper-slide game-box">
                                            <p class="font-weight-bold" style="font-size: large;">TOP <%= index + 1 %></p>
                                            <img class="game-image" src="<%= item.mainImage[0].path %>" alt="Image 1">
                                            <br>
                                            <p class="font-weight-bold">SOLD: <%= item.gameSalesCount ? item.gameSalesCount : 0 %> nos</p>
                                            <p class="font-weight-bold"><%= item.name %></p>
                                        </div>
                                    <% }) %>
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                            
                              
                        </div>

                        <br>
                        
                    </div>
                </div>
        
            </div>
  
        </div>
        
</div>
   


<!-- chart -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const sortbySelect = document.getElementById('sortby');

        const fetchAndRenderChart = (sortby) => {
            fetch(`/admin/chartSortby`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ sortby: sortby })
            })
            .then(response => response.json())
            .then(data => {
                const ctx = document.getElementById('myChart').getContext('2d');
          
                if (window.chartInstance) {
                    window.chartInstance.destroy();
                }

                const barColors = data.datasets[0].data.map((_, index) => {
                    const colors = [
                        "rgba(255, 99, 132, 0.6)", 
                        "rgba(54, 162, 235, 0.6)", 
                        "rgba(75, 192, 192, 0.6)",
                        "rgba(153, 102, 255, 0.6)", 
                        "rgba(255, 159, 64, 0.6)",
                        "rgba(255, 205, 86, 0.6)",
                        "rgba(201, 203, 207, 0.6)" 
                    ];
                    return colors[index % colors.length]; 
                });

                data.datasets[0].backgroundColor = barColors;
                
                window.chartInstance = new Chart(ctx, {
                    type: 'bar',
                    data: data,
                    options: {
                        responsive: true,
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        },
                        plugins: {
                            legend: {
                                display: false
                            },
                            title: {
                                display: true,
                                text: 'Dynamic Chart Data'
                            }
                        }
                    }
                });
            })
            .catch((error) => {
                console.error(error);
            });
        };

        fetchAndRenderChart('weekly');

        sortbySelect.addEventListener('change', function() {
            const selectedOption = this.value;
            fetchAndRenderChart(selectedOption);
        });
    });
</script>



<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 5,
      spaceBetween: 10,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- apps -->
    <!-- apps -->
    <script src="../dist/js/app-style-switcher.js"></script>
    <script src="../dist/js/feather.min.js"></script>
    <script src="../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="../dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../dist/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <script src="../assets/extra-libs/c3/d3.min.js"></script>
    <script src="../assets/extra-libs/c3/c3.min.js"></script>
    <script src="../assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="../assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="../assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="../assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js"></script>
    <script src="../dist/js/pages/dashboards/dashboard1.min.js"></script>
</body>
    
    

<%-include('../layouts/adminFooter.ejs')%>