<%-include('../layouts/adminHeader.ejs')%>
<%-include('../layouts/adminSidebar.ejs')%>

<style>
    .purple-header-box {
    background-color: #936dd1; /* Purple color */
    color: #ffffff; /* White text color */
    padding: 15px; /* Adjust padding as needed */
    border-radius: 5px; /* Optional: Add rounded corners */
    margin-bottom: 20px; /* Optional: Add space below the box */
    text-align: center;
}
.search-bar {
    margin-bottom: 10px; /* Adjust spacing between search bar and heading */
}
.search-btn {
        width: 100px; /* Adjust the width of the button as needed */
        height: 40px; /* Adjust the height of the button as needed */
        border: 2px solid #000; /* Black border */
        border-radius: 5px; /* Make it round */
        background-color: #936dd1; /* Black background */
        color: #050404; /* White text color */
        font-size: 14px; /* Adjust font size */
        padding: 0; /* Remove padding */
    }


.search-bar {
    width: calc(100% - 80px); /* Adjust the width of the search bar */
    margin-right: 10px; /* Adjust spacing between search bar and button */
}
.btn-primary {
    border-radius: 5px; /* Slight curve */
    background-color: #936dd1; /* Purple background */
    border-color: #0a0a0a; /* Border color same as background for a consistent look */
    color: #050404; /* Black text color */
    font-size: 14px; /* Adjust font size */
    padding: 8px 20px; /* Adjust padding */
}
.custom-table-header {
    background-color: grey;
    color: black;
}
</style>

<div class="page-wrapper">

    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        
                        <div class="purple-header-box"> 
                             
                            <h4 class="card-title">ORDER MANAGEMENT</h4>
                        </div>
                        <div class="table-responsive">
                            <table class="table ">
                                <thead class="custom-table-header">
                                    <tr>
                                        <th scope="col">SL.NO</th>
                                        <th scope="col">CUSTOMER</th>
                                        <th scope="col">ORDER-ID</th>
                                        <th scope="col">TOTAL</th>
                                        <th scope="col">DATE</th> 
                                        <th scope="col">PAYMENT</th>  
                                        <th scope="col">ACTION</th>                                              
                                    </tr>
                                </thead>
                                <tbody>
                                    <% const indexPage = (page-1)*limit %>
                                    <% orders.forEach( (order , index) => { %> 
                                        <tr>
                                            <td style="font-size: 15px;"><%= index+1+indexPage %></td>
                                            <td style="font-size: 15px;"><%= order.userId.name %></td>
                                            <td style="font-size: 15px;"><%= order.orderId %></td>
                                            <% if (order.discount) { %>
                                                <% const discountedPrice = order.totalCartPrice - (order.totalCartPrice * order.discount / 100) %>
                                                <td style="font-size: 15px;"><%= discountedPrice %></td>
                                            <% }else{ %>
                                                <td style="font-size: 15px;"><%= order.totalCartPrice %></td>
                                            <% } %>
                                            
                                            <td style="font-size: 15px;"><%= new Date (order.orderDate).toLocaleString('en-IN',{ year : 'numeric',month : '2-digit',day : '2-digit' , hour : '2-digit',minute : '2-digit'}) %></td>
                                            <td style="font-size: 15px;"> <%= order.paymentMethod %></td>
                                            <td class="text-right align-middle" style="font-size: 15px;">
                                            <button class="btn btn-primary" onclick="showOrderDetailsPage('<%= order._id%>')">Details</button>                                                                                                      
                                               
                                                
                                            </td>
                                        </tr>
                                    
                                    <%  })  %>
                                </tbody>
                            </table>
                            <nav aria-label="page navigation">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item <%= prevPage ===1 ? 'disabled' : '' %>">
                                        <a class="page-link-prev" href="?page=<%= prevPage %>" aria-label="Previous" >
                                            <span aria-hidden="'true"><i class="icon-long-arrow-left"></i></span>Prev
                                        </a>
                                    </li>
                                    <% for (let i =1 ; i<= totalPages ; i++) { %> 
                                        <li class="page-item <%= page ===i? 'ative':''%>" >
                                            <a class="page-link" href="?page=<%=i%>"><%= i %></a>
                                        </li>
                                    <%  } %>
                                        <li class="page-item <%= nextPage > totalPages?'disabled':''%>">
                                            <a class="page-link page-link-next" href="?page=<%= nextPage%>" aria-label="next">
                                                Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                            </a>
                                        </li>
                                        
                                </ul>
                                
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
   
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>



 <!--  pass orderId to backend / loadorderDetailsPage -->
<script>
    function showOrderDetailsPage(orderId) {
        
        const url = `/admin/adminOrderDetailsPage?orderId=${orderId}`;
        window.location.href = url;
    }
</script>

<%-include('../layouts/adminFooter.ejs')%>