<%-include('../layouts/header.ejs')%>
<%-include('../layouts/navbar.ejs')%>

<style>
    /* Define a custom class for overriding the default Bootstrap grid */
    .custom-col-lg-4 {
        flex: 0 0 50%; /* Make each column take up 50% of the container width */
        max-width: 50%; /* Ensure the column doesn't exceed 50% of the container width */
    }
    .product-action-vertical a,
.product-action a {
    color: black;
}
.product-action .btn-cart {
    color: black;
    border-color: black;
}
.product-price {
    color: black;
    font-weight: bold;
}
.product-image.with-border {
    border: 2px solid #000;
}

</style>
    

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.png');">
        		<div class="container-fluid">
        			<h1 class="page-title text-white">All Games</h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">All Games</a></li>
                        
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
			<% if (errmsg) { %>
				<div class="alert text-center " role="alert" style="color: red;">
					<%= errmsg %>
				</div>
			<%  }  %>
            <div class="page-content">
                <div class="container-fluid">
                	<div class="row">
                		<div class="col-lg-9">
                			<div class="toolbox">
                				<div class="toolbox-left">
                					<div class="toolbox-info text-black font-weight-bold">
                						Showing <span>9 of 24</span> Products
                					</div><!-- End .toolbox-info -->
                				</div><!-- End .toolbox-left -->
								<div class="toolbox-sort">
									<label for="sortby">Sort by: Alphabets</label>
									<div class="select-custom">
										<button id="sortAlphabetically" class="btn btn-primary">A-Z</button>

									</div>
								</div>
                				<div class="toolbox-right">
									
                					<div class="toolbox-sort">
                						<label for="sortby">Sort by: price</label>
                						<div class="select-custom">
											<select name="sortby" id="sortby" class="form-control">
												<option value="popularity" selected="selected">Low-High</option>
												<option value="rating">High-Low</option>
												
											</select>
										</div>
                					</div><!-- End .toolbox-sort -->
                					<div class="toolbox-layout">
                						<a href="category-list.html" class="btn-layout">
                							<svg width="16" height="10">
                								<rect x="0" y="0" width="4" height="4" />
                								<rect x="6" y="0" width="10" height="4" />
                								<rect x="0" y="6" width="4" height="4" />
                								<rect x="6" y="6" width="10" height="4" />
                							</svg>
                						</a>

                						<a href="category-2cols.html" class="btn-layout">
                							<svg width="10" height="10">
                								<rect x="0" y="0" width="4" height="4" />
                								<rect x="6" y="0" width="4" height="4" />
                								<rect x="0" y="6" width="4" height="4" />
                								<rect x="6" y="6" width="4" height="4" />
                							</svg>
                						</a>

                						<a href="category.html" class="btn-layout active">
                							<svg width="16" height="10">
                								<rect x="0" y="0" width="4" height="4" />
                								<rect x="6" y="0" width="4" height="4" />
                								<rect x="12" y="0" width="4" height="4" />
                								<rect x="0" y="6" width="4" height="4" />
                								<rect x="6" y="6" width="4" height="4" />
                								<rect x="12" y="6" width="4" height="4" />
                							</svg>
                						</a>

                						<a href="category-4cols.html" class="btn-layout">
                							<svg width="22" height="10">
                								<rect x="0" y="0" width="4" height="4" />
                								<rect x="6" y="0" width="4" height="4" />
                								<rect x="12" y="0" width="4" height="4" />
                								<rect x="18" y="0" width="4" height="4" />
                								<rect x="0" y="6" width="4" height="4" />
                								<rect x="6" y="6" width="4" height="4" />
                								<rect x="12" y="6" width="4" height="4" />
                								<rect x="18" y="6" width="4" height="4" />
                							</svg>
                						</a>
                					</div><!-- End .toolbox-layout -->
                				</div><!-- End .toolbox-right -->
                			</div><!-- End .toolbox -->
							<div class="products mb-3">
								<div class="row justify-content-center">
									
										<% games.forEach(game => { %> 
										
											<div class="col-md-4">
												<div class="product product-7 text-center">
													<figure class="product-media">										
														<input type="hidden" class="system-req" value="<%= game.systemReq %>">
														
														<input type="hidden" id="mainImage" name="mainImage" value="<%= JSON.stringify(game.image)%>">
														<input type="hidden" id="screenshotImages" name="screenshotImages" value="<%= JSON.stringify(game.screenshotImages)%>">
														<a href="/gameDetails?id=<%= game._id %>">
															<img src="<%= game.mainImage[0].path %>" alt="<%= game.name %>" class="product-image with-border " width="200" height="200">
														</a>
														<div class="product-action-vertical">
															<a onclick="addToWishlist('<%= game._id %>')" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
															<a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
															<a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
														</div><!-- End .product-action-vertical -->
						
														<div class="product-action">
															<a   onclick="addToCart('<%= game._id %>')" class="btn-product btn-cart" style="background-color:rgb(92, 90, 88); color: white; font-weight: bold;"><span>add to cart</span></a>
														</div><!-- End .product-action -->
														<div class="product-action-vertical">
														   
														</div>
														<div class="product-action">
															
														</div>
													</figure>
													<div class="product-body">
														<div class="product-cat">
															<a href="/gameDetails?id=<%=game._id%>"><%= game.categoryName %></a>
														</div>
														<h3 class="product-title"><a href="/gameDetails?id=<%=game._id%>"><%= game.name %></a></h3><!-- End .product-title -->
														<div class="product-price">
															<%= game.price %>
															<p style="font-weight: bold;">   -Rs</p>
														</div><!-- End .product-price -->
													</div><!-- End .product-body -->
												</div><!-- End .product -->
											</div><!-- End .col-md-4 -->
										
									<% }) %>
									
								</div><!-- End .row -->
							</div><!-- End .products -->
							

                			<nav aria-label="Page navigation">
							    <ul class="pagination justify-content-center">
							        <li class="page-item disabled">
							            <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
							                <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
							            </a>
							        </li>
							        <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
							        <li class="page-item"><a class="page-link" href="#">2</a></li>
							        <li class="page-item"><a class="page-link" href="#">3</a></li>
							        <li class="page-item-total">of 6</li>
							        <li class="page-item">
							            <a class="page-link page-link-next" href="#" aria-label="Next">
							                Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
							            </a>
							        </li>
							    </ul>
							</nav>
                		</div><!-- End .col-lg-9 -->
                		<aside class="col-lg-3 order-lg-first">
                			<div class="sidebar sidebar-shop">
                				<div class="widget widget-clean">
                					<label>Filters:</label>
                					
                				</div><!-- End .widget widget-clean -->

                				<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
									        Category
									    </a>
									</h3><!-- End .widget-title -->

									<div class="collapse show" id="widget-1">
										<div class="widget-body">
											<div class="filter-items filter-items-count">
												<% categories.forEach(category => { %>
													<% if (category.is_listed) { %> 
													<div class="filter-item">
													  <div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="cat-<%= category._id %>">
														<label class="custom-control-label" for="cat-<%= category._id %>"><%= category.name %></label>
													  </div>
													  <span class="item-count"></span> <!-- Assuming you have a property like gameCount for each category -->
													</div>
													<% } %>
												  <% }); %>
											</div><!-- End .filter-items -->
										</div><!-- End .widget-body -->
									</div><!-- End .collapse -->
        						</div><!-- End .widget -->

        						

        						<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true" aria-controls="widget-4">
									        DEVELOPERS
									    </a>
									</h3><!-- End .widget-title -->

									<div class="collapse show" id="widget-4">
										<div class="widget-body">
											<div class="filter-items">
												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-1">
														<label class="custom-control-label" for="brand-1">UBISOFT</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-2">
														<label class="custom-control-label" for="brand-2">E A SPORTS</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-3">
														<label class="custom-control-label" for="brand-3">NAUGHTY DOG</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-4">
														<label class="custom-control-label" for="brand-4">ROCKSTAR GAMES</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-5">
														<label class="custom-control-label" for="brand-5">ACTIVISION</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-6">
														<label class="custom-control-label" for="brand-6">KONAMI</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-7">
														<label class="custom-control-label" for="brand-7">BIOWAR</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

											</div><!-- End .filter-items -->
										</div><!-- End .widget-body -->
									</div><!-- End .collapse -->
        						</div><!-- End .widget -->

        						
                			</div><!-- End .sidebar sidebar-shop -->
                		</aside><!-- End .col-lg-3 -->
                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
</main><!-- End .main -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<!-- add to cart sweetalert message -->
<script>
    function addToCart(gameId) {
        fetch(`/addToCart?gameId=${gameId}`, { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: 'Game added to cart successfully.',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        window.location.reload();
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: data.error || 'Failed to add game to cart.',
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'An error occurred while adding game to cart.',
                    showConfirmButton: false,
                    timer: 1500
                });
            });
    }
</script>


<!-- add to wishlist sweetalert message -->
<script>
	function addToWishlist(gameId){
		fetch(`/addToWishlist?gameId=${gameId}`,{method : 'POST'})
		.then(response=> response.json())
		.then(data=>{
			if(data.success){
				Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: 'Game added to Wishlist successfully.',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        window.location.reload();
                    });
			}else{
				Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: data.error || 'Failed to add game to cart.',
                        showConfirmButton: false,
                        timer: 1500
                    });
			}
		})
		.catch(error => {
                console.error('Error:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'An error occurred while adding game to cart.',
                    showConfirmButton: false,
                    timer: 1500
                });
            });
	}
</script>


<!-- rendering all games in db in alphabetical oreder -->
<script>
	document.getElementById('sortAlphabetically').addEventListener('click',function(){
		fetch('/sortGamesAlphabetically',{method : 'POST'})
		.then(response=>response.json())
		.then(data=>{
			games = data.games;
			updateGamesDisplay(games)
		})
		.catch (error=>{
			console.error('Error',error)
		})
	})
	function updateGamesDisplay (games){
		const gameContainer = document.querySelector('.products .row');
		gameContainer.innerHTML = ''
		games.forEach(game=>{
		gameContainer.innerHTML += game
		})
	}
</script>


<%-include('../layouts/footbar.ejs')%>
<%-include('../layouts/footer.ejs')%>