<%-include('../layouts/header.ejs')%>
<%-include('../layouts/navbar.ejs')%>


<style>
    /* Define a custom class for overriding the default Bootstrap grid */
    .custom-col-lg-4 {
        flex: 0 0 50%; /* Make each column take up 50% of the container width */
        max-width: 50%; /* Ensure the column doesn't exceed 50% of the container width */
    }
    .product-action-vertical a,
.product-action a {
    color: rgb(0, 0, 0);
}
.product-action .btn-cart {
    color: black;
    border-color: black;
}
.product-price {
    color: black;
    font-weight: bold;
}
.product-image.with-border {
    border: 2px solid #000;
}
.label-news{
	background-color: rgb(8, 171, 247);
}



.toolbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbox-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

.search-form {
    display: flex;
}

.search-form .form-control {
    width: 200px;
    border-radius: 4px 0 0 4px;
    border-right: none;
}

.search-form .btn-search {
    background-color: #333;
    color: white;
    border: 1px solid #333;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    padding: 0 10px;
}

.search-form .btn-search i.icon-search {
    font-size: 16px;
}


</style>
    

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.png');">
        		<div class="container-fluid">
        			<h1 class="page-title text-white">All Games</h1>
        		</div>
        	</div>
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        <li class="breadcrumb-item"><a href="/allGames">All Games</a></li>
                        
                    </ol>
                </div>
            </nav>
			
            <div class="page-content">
                <div class="container">
                	<div class="row">
                        <aside class="col-lg-3 order-lg-first">
                			<div class="sidebar sidebar-shop">
                				<div class="widget widget-clean">
                					<label>Filters : </label>
                					
                				</div><!-- End .widget widget-clean -->

                				<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
									        Category
									    </a>
									</h3><!-- End .widget-title -->

									<div class="collapse show" id="widget-1">
										<div class="widget-body">
											<div class="filter-items filter-items-count">
												<% categories.forEach(category => { %>
													<% if (category.is_listed) { %> 
													<div class="filter-item">
														<div class="custom-control custom-checkbox">
															<input type="checkbox" class="custom-control-input" id="<%= category._id %>">
															<label class="custom-control-label" for="<%= category._id %>"><%= category.name %></label>
														</div>
													</div>
													<% } %>
												<% }); %>
											</div><!-- End.filter-items -->
										</div><!-- End.widget-body -->
									</div>
									<!-- End .collapse -->
        						</div><!-- End .widget -->

                			</div><!-- End .sidebar sidebar-shop -->
                		</aside><!-- End .col-lg-3 -->
                		<div class="col-lg-9">

                			<div class="toolbox">
                				<div class="toolbox-left">
                					<div class="toolbox-info text-black font-weight-bold">
                						Showing <span>6 of <%= number.length %></span> Products
                					</div>
                				</div>
								<div class="toolbox-center">
									<form id="searchForm" class="search-form">
										<input type="text" id="q" class="form-control" placeholder="Search games..." />
										<button type="submit" class="btn-search">
											<i class="icon-search"></i>
										</button>
									</form>
								</div>
								
                				<div class="toolbox-right">
									
                					<div class="toolbox-sort">
                						<label for="sortby">Sort</label>
                						<div class="select-custom">
											<select name="sortby" id="sortby" class="form-control">
												<option value="popularity" id="priceLow-High" >Low-High</option>
												<option value="rating" id="priceHigh-Low">High-Low</option>
												<option value="rating" id="nameA-Z">A - Z</option>
												<option value="rating" id="nameZ-A">Z - A</option>
							
											</select>
										</div>
                					</div>
                					
                				</div>
                			</div>
							<div class="products mb-3">
								<div class="row justify-content-center" id="gameList">
									<% games.forEach(game => { %> 
										<div class="col-md-4 col-6">
											<div class="product product-7 text-center">
												<figure class="product-media">
													<% if (game.gameOffer) { %>
														<span class="product-label label-new"><%= game.gameOffer %> % OFF</span>
													<% } else if (game.categoryOffer) { %>
														<span class="product-label label-news"><%= game.categoryOffer %> % OFF</span>
													<% } %>	
																														
													<input type="hidden" class="system-req" value="<%= game.systemReq %>">
													<input type="hidden" id="mainImage" name="mainImage" value="<%= JSON.stringify(game.image)%>">
													<input type="hidden" id="screenshotImages" name="screenshotImages" value="<%= JSON.stringify(game.screenshotImages)%>">
													<a href="/gameDetails?id=<%= game._id %>">
														<img src="<%= game.mainImage[0].path %>" alt="<%= game.name %>" class="product-image with-border" width="200" height="200">
													</a>
							
													<div class="product-action-vertical">
														<% if (user) { %>
															<a onclick="addToWishlist('<%= game._id %>')" class="btn-product-icon btn-wishlist btn-expandable"><span>Add to wishlist</span></a>
														<% } else { %>
															<a href="/login" class="btn-product-icon btn-wishlist btn-expandable" style="color: red;"><span>Login</span></a>
														<% } %>
													</div>
							
													<div class="product-action">
														<% if (user) { %>
															<% if (game.stock > 0) { %>
																<a onclick="addToCart('<%= game._id %>')" class="btn-product btn-cart" style="background-color: rgb(92, 90, 88); color: white; font-weight: bold;"><span>Add to cart</span></a>
															<% } else { %>
																<span class="btn-product btn-out-of-stock" style="background-color: rgb(243, 70, 70); color: rgb(0, 0, 0); font-weight: bold;"><span>Out of Stock</span></span>
															<% } %>
														<% } else { %>
															<a href="/login" class="btn-product btn-cart" style="background-color: rgb(92, 90, 88); color: white; font-weight: bold;"><span>Add to cart</span></a>
														<% } %>
													</div>
													<div class="product-action-vertical">
													</div>
													<div class="product-action">
													</div>
												</figure>
												<div class="product-body">
													<div class="product-cat">
														<a href="/gameDetails?id=<%= game._id %>"><%= game.categoryName %></a>
													</div>
													<h3 class="product-title"><a href="/gameDetails?id=<%= game._id %>"><%= game.name %></a></h3><!-- End .product-title -->
													<div class="product-price"> 
														<% if (game.gameOffer) { %>
															<span style="text-decoration: line-through; margin-right: 20px; color: grey;"><%= game.price %> -Rs</span>
															<span style="color: rgb(0, 0, 0); font-weight: bold;"><%= Math.round(game.price - (game.price * game.gameOffer / 100)) %> Rs</span>
														<% } else if (game.categoryOffer) { %>
															<span style="text-decoration: line-through; margin-right: 20px; color: grey;"><%= game.price %> -Rs</span>
															<span style="color: rgb(5, 5, 5); font-weight: bold;"><%= Math.round(game.price - (game.price * game.categoryOffer / 100)) %> Rs</span>
														<% } else { %>
															<%= game.price %> -Rs
														<% } %>
													</div>
												</div>
											</div>
										</div>
									<% }) %>
								</div>
							</div>
							
							

                			<nav aria-label="Page navigation">
								<ul class="pagination justify-content-center">
								  <li class="page-item <%= prevPage === 1? 'disabled' : '' %>">
									<a class="page-link page-link-prev" href="?page=<%= prevPage %>" aria-label="Previous">
									  <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
									</a>
								  </li>
								  <% for(let i = 1; i <= totalPages; i++) { %>
									<li class="page-item <%= page === i? 'active' : '' %>">
									  <a class="page-link" href="?page=<%= i %>"><%= i %></a>
									</li>
								  <% } %>
								  <li class="page-item <%= nextPage > totalPages? 'disabled' : '' %>">
									<a class="page-link page-link-next" href="?page=<%= nextPage %>" aria-label="Next">
									  Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
									</a>
								  </li>
								</ul>
							</nav>
							  
                		</div><!-- End .col-lg-9 -->
                		
                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
</main><!-- End .main -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>






<!-- filter & sort & search datas passing to backedn  -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const gamesListContainer = document.getElementById('gamesList');
        
    
        function handleCheckboxChange() {
            updateGameListBasedOnFilterAndSort();
        }
    
        function handleSortChange() {
            updateGameListBasedOnFilterAndSort();
        }
    
        function handleSearchFormSubmit(event) {
            event.preventDefault();
            updateGameListBasedOnFilterAndSort();
        }
    
        
    
        function updateGameListBasedOnFilterAndSort() {
            const checkboxes = document.querySelectorAll('.custom-control-input');
            let selectedCategories = [];
            
            checkboxes.forEach(checkbox => {
                if (checkbox.checked) {
                    selectedCategories.push(checkbox.id);
                }
            });
            const search = document.getElementById('q').value; 
            
    
            const dropdown = document.getElementById('sortby');
            const selectedOption = dropdown.options[dropdown.selectedIndex];
            const sortCriteria = selectedOption.id;
    
            sendFilterAndSortDataToBackend(selectedCategories, sortCriteria , search );
        }
    
        function sendFilterAndSortDataToBackend(selectedCategories, sortCriteria , search) {
            const url = '/allGames';
            const data = {
                filterCategories: selectedCategories,
                sortCriteria: sortCriteria , 
                search: search 
            };
    
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                filterGameList(data);
            })
    
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    
        const checkboxes = document.querySelectorAll('.custom-control-input');
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', handleCheckboxChange);
        });
    
        const dropdown = document.getElementById('sortby');
        if (dropdown) {
            dropdown.addEventListener('change', handleSortChange);
        }
    
        const searchForm = document.getElementById('searchForm');
        searchForm.addEventListener('submit', handleSearchFormSubmit);
    })
    
    function filterGameList(data, user) {
        let filterList = document.getElementById('gameList');
        filterList.innerHTML = '';
        data.forEach(game => {
            const gameOfferLabel = game.gameOffer ? `${game.gameOffer} % OFF` : (game.categoryOffer ? `${game.categoryOffer} % OFF` : '');
            const discountedPrice = game.gameOffer 
                ? Math.round(game.price - (game.price * game.gameOffer / 100))
                : game.categoryOffer 
                    ? Math.round(game.price - (game.price * game.categoryOffer / 100))
                    : null;
            const gamePrice = discountedPrice !== null 
                ? `<span style="text-decoration: line-through; margin-right: 20px; color: grey;">${game.price} -Rs</span>
                   <span style="color: rgb(0, 0, 0); font-weight: bold;">${discountedPrice} Rs</span>`
                : `${game.price} -Rs`;
    
                const wishlistButton = `<a onclick="addToWishlist('${game._id}')" class="btn-product-icon btn-wishlist btn-expandable"><span>Add to wishlist</span></a>`;

                const cartButton = game.stock > 0
                ? `<a onclick="addToCart('${game._id}')" class="btn-product btn-cart" style="background-color: rgb(92, 90, 88); color: white; font-weight: bold;"><span>Add to cart</span></a>`
                : `<span class="btn-product btn-out-of-stock" style="background-color: rgb(243, 70, 70); color: rgb(0, 0, 0); font-weight: bold;"><span>Out of Stock</span></span>`;
    
            const gameItem = `
            <div class="col-md-4 col-6">
                <div class="product product-7 text-center">
                    <figure class="product-media">
                        ${gameOfferLabel ? `<span class="product-label label-new">${gameOfferLabel}</span>` : ''}
                        <input type="hidden" class="system-req" value="${game.systemReq}">
                        <input type="hidden" id="mainImage" name="mainImage" value='${JSON.stringify(game.image)}'>
                        <input type="hidden" id="screenshotImages" name="screenshotImages" value='${JSON.stringify(game.screenshotImages)}'>
                        <a href="/gameDetails?id=${game._id}">
                            <img src="${game.mainImage[0].path}" alt="${game.name}" class="product-image with-border" width="200" height="200">
                        </a>
                        <div class="product-action-vertical">
                            ${wishlistButton}
                        </div>
                        <div class="product-action">
                            ${cartButton}
                        </div><!-- End .product-action -->
                        <div class="product-action-vertical">
                        </div>
                        <div class="product-action">
                        </div>
                    </figure>
                    <div class="product-body">
                        <div class="product-cat">
                            <a href="/gameDetails?id=${game._id}">${game.category.name}</a>
                        </div>
                        <h3 class="product-title"><a href="/gameDetails?id=${game._id}">${game.name}</a></h3><!-- End .product-title -->
                        <div class="product-price"> 
                            ${gamePrice}
                        </div><!-- End .product-price -->
                    </div><!-- End .product-body -->
                </div><!-- End .product -->
            </div>`;
    
            filterList.insertAdjacentHTML('beforeend', gameItem);
        });
    }
    
    
</script>





<!-- add to cart sweetalert message -->
<script>
    function addToCart(gameId) {
		const quantity = 1;
        fetch(`/addToCart?gameId=${gameId}&quantity=${quantity}`, { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: 'Game added to cart successfully.',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        window.location.reload();
                    });
                } else if(data.message = 'stockout')  {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: data.error || 'Game is Currently Out Of Stock...',
                        showConfirmButton: false,
                        timer: 1500
                    });
                } 
                 else  {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: data.error || 'Failed to add game to cart.',
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'An error occurred while adding game to cart.',
                    showConfirmButton: false,
                    timer: 1500
                });
            });
    }
</script>


<!-- add to wishlist sweetalert message -->
<script>
	function addToWishlist(gameId){
		
		fetch(`/addToWishlist?gameId=${gameId}`,{method : 'POST'})
		.then(response=> response.json())
		.then(data=>{
			if(data.success){
				Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: "Game Added to Wishlist Successfully",
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        window.location.reload();
                    });
			}else{
				Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: data.error || 'Failed to add game to cart.',
                        showConfirmButton: false,
                        timer: 1500
                    });
			}
		})
		.catch(error => {
                console.error('Error:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'An error occurred while adding game to cart.',
                    showConfirmButton: false,
                    timer: 1500
                });
            });
	}
</script>










<%-include('../layouts/footbar.ejs')%>
<%-include('../layouts/footer.ejs')%>