<%-include('../layouts/header.ejs')%>
<%-include('../layouts/navbar.ejs')%>

<style>
    .content-container {
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 20px;
}
.rounded-box {
    border-radius: 10px;
    background-color: #ddd8d8;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}
.checkout-discount {
    text-align: center;
    margin-top: 20px; 
    justify-content: center;
}
.checkout-discount form {
    padding-left: 400px;
}

.edit-btn , .change-btn , .save-btn{
    background-color: white;
        color: black;
        border: 1px solid;
   }
   .change-btn:hover{
        background-color: #797474;
    }
	/* Hide default radio button */
input[type="radio"] {
    display: none;
}

/* Create custom radio button */
input[type="radio"] + label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 2px solid #007bff; /* Change color as needed */
    border-radius: 50%;
}

/* Style checked state */
input[type="radio"]:checked + label:before {
    background-color: #007bff; /* Change color as needed */
}
label {
    font-size: 16px; /* Adjust based on your preference */
    color: #333; /* Adjust color as needed */
    cursor: pointer; /* Change cursor to pointer when hovering over labels */
    padding: 5px 0; /* Add some vertical padding */
}
#addAddressBtn {
    background-color: #616264; /* Primary color */
    color: white; /* Text color */
    border: none;
    padding: 10px 20px; /* Padding for larger click area */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s; /* Smooth transition effect */
}

#addAddressBtn:hover {
    background-color: white; /* Change background color on hover */
    color: black; /* Change text color on hover */
    border: 2px solid #007bff; /* Add border on hover */
}
.address-selection-box {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 1000px;
    margin: 20px auto;
}

.address-option {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.address-option h4 {
    font-size: 16px;
    color: #333;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(3, 3, 3);
    border-radius: 50%;
    cursor: pointer;
}

input[type="radio"]:checked {
    background-color: rgb(14, 13, 13);
    border-color: rgb(5, 5, 5);
}

input[type="radio"] + label {
    cursor: pointer;
    color: #0b0c0c;
}

input[type="radio"]:checked + label {
    color: rgb(2, 2, 2);
}
.address-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Optional: adds a bottom border for separation */
}

.button-container {
    display: flex;
    gap: 10px; /* Optional: adds some space between the buttons */
}
#apply-button {
    margin-right: 20px; /* Adjust the value as needed */
}

</style>


<body>
    <div class="page-wrapper">


        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.png')">
        		<div class="container">
        			<h1 class="page-title" style="color: white;">Checkout></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="checkout">
	                <div class="container-fluid">
            			
            			<form action="/placeOrder" method = 'POST' id="orderForm" >
		                	<div class="row">
                                <aside class="col-lg-8 content-container ">
                                    <div class="address-selection-box" required>
										<h3 style="text-align: center;">Choose Your Address</h3>
									
										<% addresses.forEach((item) => { %>
											<% item.addresses.forEach((address, index) => { %>
												<div class="address-option">
													<input type="radio" name="address" id="address<%= index + 1 %>" value="<%= address._id %>" required>
													<label for="address<%= index + 1 %>">
														<h4> Address <%= index + 1 %> </h4>
														<p><%= address.name %>, <%= address.city %>, <%= address.state %></p>
														

													</label>
													<div class="button-container">
														<a href="/editAddress?addressId=<%=  address._id %>" class="btn change-btn" >Edit</a>
														<a id="showAddressBtn" class="btn change-btn" style="background-color: lightskyblue" data-toggle="modal" data-target="#showAddressModal"
														   data-name="<%= address.name %>"
														   data-mobile="<%= address.mobile %>"
														   data-pincode="<%= address.pincode %>"
														   data-district="<%= address.district %>"
														   data-state="<%= address.state %>"
														   data-city="<%= address.city %>"
														   data-area="<%= address.area %>"
														   data-house-no="<%= address.houseNo %>">View</a>
													</div>
													
												</div>
												
											<% }) %>
										<% }) %>
									</div>
									<% if (count <= 2) { %>
										<div style="color: black;  " class="col-sm-12 d-flex justify-content-center">
                                
											<a id="addAddressBtn" class="btn change-btn " data-toggle="modal" data-target="#addAddressModal">+ Add Address</a>
										</div>
									<% }else { %>
										<p class="text-center " style="font-weight: bold;">You can Only Add 3 Addresses</p>
									<% } %>
									
									
                                    <div class="checkout-discount">
										<form id="coupon-form" onsubmit="handleInnerForm(event)">
											<h6>Have a coupon? <span>Click here to enter your code</span></h6>
											<input type="text" class="form-control" id="checkout-discount-input">
											<label for="checkout-discount-input" class="text-truncate"></label>
											<div class="row">
												<button type="submit" class="btn btn-primary" id="apply-button">Apply</button>
												<button type="button" class="btn btn-danger" id="remove-button">Remove</button>
											</div>
											
										</form>
									</div>
									
									  
									<% if (errmsg) { %> 
											<div class="alert text-center " style="color: red;">
												<%= errmsg %>
											</div>
									
									<%   }  %>
                                </aside>
                                
		 
		                		<aside class="col-lg-3  ml-5">
		                			<div class="summary content-container">
		                				<h3 class="summary-title">Your Order</h3>

		                				<table class="table table-summary">
		                					<thead>
		                						<tr>
		                							<th>Product</th>
		                							<th>Total</th>
		                						</tr>
		                					</thead>

		                					<tbody>
												
												<% cartData.games.forEach((item, index) => { %>
													<tr>
														<td><a href="#"><%= gameDetails[index].name %></a></td>
														<td><%= (item.price * item.quantity).toFixed(2) %> Rs</td>
													</tr>
													
												<% }); %>
												
													
												
												<tr class="summary-subtotal">
													<td>Subtotal:</td>
													<td id="subtotal-price"><%= cartData.totalCartPrice.toFixed(2) %> Rs</td>
												</tr>

												<tr id="discount-row">
													<td>Discount :</td>
													<td id="discount-value"><%= cartData.discount ? cartData.discount : 0 %>%</td>
												</tr>
												<tr id="deducted-price-row">
													<td>Deducted Price:</td>
													<td id="deducted-price"><%= cartData.discountedPrice ? cartData.discountedPrice : 0 %> Rs</td>
												</tr>
												<tr id="delivery-charge-row">
													<td>Delivery Charge:</td>
													<td id="delivery-charge-value"><%= cartData.deliveryCharge? cartData.deliveryCharge : 0 %> Rs</td>
												</tr>
												
												<tr class="summary-total">
													<td>Total : </td>
													<td id="total-price">
														<%= Number(cartData.discountedPrice? Number(cartData.discountedPrice.toFixed(2)) : cartData.totalCartPrice.toFixed(2)) + 
														   Number(cartData.deliveryCharge) %> Rs
													</td>
												</tr>
												
											</tbody>
											
		                				</table>

		                				<div class="accordion-summary" id="accordion-payment">
											<div class="card">
												<div class="card-header" id="heading-1">
													<h2 class="card-title">
														<input type="radio" name="paymentMethod" value="wallet" id="paymentMethod1" required>
														<label for="paymentMethod1" data-toggle="collapse" data-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
															Wallet
														</label>
													</h2>
												</div>
												<div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-payment">
													<div class="card-body">
														Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.
													</div>
												</div>
											</div>
										
											<div class="card">
												<div class="card-header" id="heading-2">
													<h2 class="card-title">
														<input type="radio" name="paymentMethod" value="cashOnDelivery" id="paymentMethod2">
														<label for="paymentMethod2" data-toggle="collapse" data-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">
															Cash on delivery
														</label>
													</h2>
												</div>
												<div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-payment">
													<div class="card-body">
														Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
													</div>
												</div>
											</div>
											<div class="card">
												<div class="card-header" id="heading-2">
													<h2 class="card-title">
														<input type="radio" name="paymentMethod" value="onlinePayment" id="paymentMethod3">
														<label for="paymentMethod3" data-toggle="collapse" data-target="#collapse-3" aria-expanded="true" aria-controls="collapse-3">
															Online Payment
														</label>
													</h2>
												</div>
												<div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
													<div class="card-body">
														Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
													</div>
												</div>
											</div>
											
										    </div>
											
										
										</div>
										<!-- End .accordion -->
		                				<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
		                					<span >Place Order</span>
		                				</button>
		                			</div><!-- End .summary -->
		                		</aside><!-- End .col-lg-3 -->
		                	</div><!-- End .row -->
            			</form>
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main>



<!-- add address modal-->
<div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="addAddressModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm" role="document">
	  <div class="modal-content bg-black text-red px-5 mt-4 mb-4">
		<br>
		<div class="modal-header border-bottom-red">
			
		  <h5 class="modal-title text-center" id="addAddressModalLabel">Add New Address</h5>
		  <button type="button" class="close text-red" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <form id="addressForm">
			<div class="row">
			  <div class="col-md-6">
				<div class="form-group">
				  <label for="name" class="text-red">Name</label>
				  <input type="text" class="form-control" id="name" placeholder="Enter Name" required>
				</div>
			  </div>
			  <div class="col-md-6">
				<div class="form-group">
				  <label for="mobile" class="text-red">Mobile</label>
				  <input type="tel" class="form-control" id="mobile" placeholder="Enter Mobile Number" required>
				</div>
			  </div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="pincode" class="text-red">Pincode</label>
						<input type="text" class="form-control" id="pincode" placeholder="Enter Pincode" required>
					  </div>
				</div>
				<div class="col-md-6">
				  <div class="form-group">
					<label for="district" class="text-red">District</label>
					<input type="tel" class="form-control" id="district" placeholder="Enter District" required>
				  </div>
				</div>
			  </div>
			  <div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="state" class="text-red">State</label>
						<input type="text" class="form-control" id="state" placeholder="Enter State" required>
					  </div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="city" class="text-red">City</label>
						<input type="text" class="form-control" id="city" placeholder="Enter City" required>
					  </div>
				</div>
			  </div>
			  <div class="form-group">
				<label for="area" class="text-red">Area</label>
				<input type="text" class="form-control" id="area" placeholder="Enter Area" required>
			  </div>
			  <div class="form-group">
				<label for="houseNo" class="text-red">House No</label>
				<input type="text" class="form-control" id="houseNo" placeholder="Enter House Number" required>
			  </div>
			
			<button type="submit" class="btn btn-success btn-block" id="saveAddressBtn">Save Address</button>
			<br><br>
		  </form>
		</div>
	  </div>
	</div>
</div>		
	

<!-- Add Address functionality -->
<script>
    document.getElementById('saveAddressBtn').addEventListener('click',function(event){
        event.preventDefault();
        
            name = document.getElementById('name').value.trim(),
            mobile = document.getElementById('mobile').value.trim(),
            pincode = document.getElementById('pincode').value.trim(),
            district= document.getElementById('district').value.trim(),
            state= document.getElementById('state').value.trim(),
            city= document.getElementById('city').value.trim(),
            area= document.getElementById('area').value.trim(),
            houseNo= document.getElementById('houseNo').value.trim()

        let formData = {
            name:name,
            mobile:mobile,
            pincode:pincode,
            district:district,
            state:state,
            city:city,
            area:area,
            houseNo:houseNo
        }
        
        if(!/^[A-Za-z]+$/.test(name)){
                Swal.fire({
                    icon:'error',
                    title:'Error',
                    text:'Name Can Only Contain Alphabets'
                })
                return false;
        }
        if(!/^\d{10}$/.test(mobile)){
                Swal.fire({
                    icon:'error',
                    title:'error',
                    text:'Mobile Number should contain 10 Digits'
                })
                return false;
        }
        if(!/^\d{6}$/.test(pincode)){
                Swal.fire({
                    icon:'error',
                    title:'error',
                    text:'Pincode Should contain 6 digits only'
                })
                return false;
        }if(!/^[A-Za-z]+$/.test(district)){
                Swal.fire({
                    icon:'error',
                    title:'error',
                    text:'District should contain only Alphabets'
                })
                return false;
        }
        if(!/^[A-Za-z]+$/.test(state)){
                Swal.fire({
                    icon:'error',
                    title:'error',
                    text:'State should contain only Alphabets'
                })
                return false;
        }if(!/^[A-Za-z]+$/.test(city)){
                Swal.fire({
                    icon:'error',
                    title:'error',
                    text:'City should contain only Alphabets'
                })
                return false;
        }
       
        fetch('/addNewAddress',{
            method : 'POST',
            headers :{
                'Content-Type' : 'application/json'
            },
            body : JSON.stringify(formData)
        })
        .then(response=>response.json())
        .then(data=>{
            if(data.success){
                Swal.fire({
                    icon:'success',
                    title:'Success',
                    text: data.message
                }).then(() => {
                        location.reload();
                });
				
            } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: data.message
                    });
            }
            $('#addAddressModal').modal('hide')
        })
        .catch(error=>console.error('Error',error))
    })
</script>


<!-- view Address Modal----------------------------------- -->
<div class="modal fade " id="showAddressModal" tabindex="-1" role="dialog" aria-labelledby="showAddressModalLabel" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="showAddressModalLabel">Address Details</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body p-4">
				<div id="addressDetails"></div>
			</div>
		</div>
	</div>
</div>
  

<!-- view Address functionality -->
<script>
	document.addEventListener('DOMContentLoaded', function () {
	  var modal = document.getElementById('showAddressModal');
	  var addressDetails = document.getElementById('addressDetails');
  
	  document.querySelectorAll('#showAddressBtn').forEach(function (button) {
		  button.addEventListener('click', function () {
  
			  addressDetails.innerHTML = '';
  
			  var name = this.getAttribute('data-name');
			  var mobile = this.getAttribute('data-mobile');
			  var pincode = this.getAttribute('data-pincode');
			  var district = this.getAttribute('data-district');
			  var state = this.getAttribute('data-state');
			  var city = this.getAttribute('data-city');
			  var area = this.getAttribute('data-area');
			  var houseNo = this.getAttribute('data-house-no');
  
			  var addressHTML = '<p>Name: ' + name + '</p>' +
				  '<p>Mobile: ' + mobile + '</p>' +
				  '<p>Pincode: ' + pincode + '</p>' +
				  '<p>District: ' + district + '</p>' +
				  '<p>State: ' + state + '</p>' +
				  '<p>City: ' + city + '</p>' +
				  '<p>Area: ' + area + '</p>' +
				  '<p>House No: ' + houseNo + '</p>';
  
			  addressDetails.innerHTML = addressHTML;
  
			  $('#showAddressModal').modal('show');
		  });
	  });
  });
  
</script>


<!-- fetching address and payment method and passing it to backend -->
<script>
	 document.addEventListener('DOMContentLoaded', () => {
		function proceedToCheckout(paymentMethod, addressId , couponId = null) {
			const requestBody = {
				paymentMethod : paymentMethod,
				addressId : addressId
			}

			if(couponId){
				requestBody.couponId = couponId;
			}
			fetch('/placeOrder', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(requestBody)
				
			})
				.then(response => response.json())
				.then(data => {
					if (data.success) {	
						let  orderId = data.orderId;
							if(data.couponCode){
								
								confetti({
									particleCount: 100,
									spread: 70,
									origin: { y: 0.6 }
                				});
							}else{
								
								Swal.fire({
									icon: 'success',
									title: 'Success!',
									text: 'Order Placed Successfully .! ',
									showConfirmButton: false,
									timer: 1500
								})
							

								if (data.newMessages) {
                                data.newMessages.forEach(message => {
                                    Toastify({
                                        text: `${message.head}: ${message.text}`,
                                        duration: 3000,  
                                        close: true,
                                        gravity: "top",
                                        position: "right",  
                                        backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)"
                                    }).showToast();
                                });
                            }
								setTimeout(() => {
									window.location.href = `/success?orderId=${orderId}`;
								}, 3000);

							}
						
					}else if(data.message==='nocod'){
						Swal.fire({
								icon : 'error',
								title : 'Not Available',
								text : 'Cash on Delivery not Available for Purchases above 5000 Rs',
								confirmButtonText : 'OK'
							});
					}
					 else if(data.Razorpay){
						
						
						const options = {
							
								"key": 'rzp_test_v7eXLfL0Wt6Ws9', 
								"amount": data.Razorpay.amount, 
								"currency": "INR",
								"name": "Rush Games",
								"description": "Test Transaction",
								"image": "https://example.com/your_logo",
								"order_id": data.Razorpay.id,
								"handler": function (response){
									
									verifyPayment(response,data.Razorpay , addressId)
								},
								"prefill": {
									"name": "Abhijith",
									"email": "abhijithasokan831gmail.com",
									"contact": "1234567890"
								},
								"notes": {
									"address": "Razorpay Corporate Office"
								},
								"theme": {
									"color": "#3399cc"
								}
								};
						
						var rzp1 = new Razorpay(options);
						rzp1.open()
						



						}else if(data.message=="nowallet"){
							Swal.fire({
								icon : 'error',
								title : 'No Wallet',
								text : 'You dont have wallet to Purchase',
								confirmButtonText : 'OK'
							});
						}
						else if(data.message = "Insufficient"){
							Swal.fire({
								icon : 'error',
								title : 'Insufficient Balance',
								text : 'You dont have enough balance in your Wallet',
								confirmButtonText : 'OK'
							});
							
						}else {
							Swal.fire({
								title: 'Order Processing Failed',
								text: 'An error occurred while processing the order.',
								icon: 'error',
								confirmButtonText: 'OK'
							});

						}
						
					})
					
				
				.catch(error => {
					console.error('Fetch error:', error);
				});
		}
		document.querySelector('#orderForm').addEventListener('submit', (event) => {
        event.preventDefault();
        const paymentMethod = document.querySelector('input[name="paymentMethod"]:checked').value;
        const selectedAddress = document.querySelector('input[name="address"]:checked').value;
		const couponInput = document.getElementById('checkout-discount-input');
		const couponId = couponInput ? couponInput.value : null;

        proceedToCheckout(paymentMethod, selectedAddress , couponId);
    });
});

						
function verifyPayment(payment, order, addressId) {
  $.ajax({
    url: '/verifyPayment',
    data: JSON.stringify({
      payment,
      order,
      addressId
    }),
    contentType: 'application/json',
    method: "POST",
    success: (response) => {
      if (response.success) {
		const orderId = response.orderId;
        Swal.fire({
          icon: 'success',
          title: 'Success!',
          text: 'Payment verified successfully!',
          showConfirmButton: false,
          timer: 1500
        });
        setTimeout(() => {
          window.location.href = `/success?orderId=${orderId}`;
        }, 1500);
      } else {
        Swal.fire({
          icon: 'error',
          title: 'Error!',
          text: response.message || 'Payment verification failed. Please contact support.',
          showConfirmButton: false,
          timer: 1500
        });
        setTimeout(() => {
          window.location.href = '/failure';
        }, 1500);
      }
    },
    error: (xhr, status, error) => {
      console.error('Error verifying payment:', error);
      Swal.fire({
        icon: 'error',
        title: 'Error!',
        text: 'An error occurred. Please try again.',
        showConfirmButton: false,
        timer: 1500
      });
    }
  });
}

</script>



<!-- checking coupon is available or not -->
<script>
	document.addEventListener('DOMContentLoaded', function() {
    let discountInput = document.getElementById('checkout-discount-input');
    let applyButton = document.getElementById('apply-button');
	let removeButton = document.getElementById('remove-button')

    async function handleInnerForm(event) {
        event.preventDefault();

        const couponCode = discountInput.value;
        
        try {
            const response = await fetch(`/checkCoupon`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ code: couponCode })
            });

            const data = await response.json();

            if (data.message === 'no coupon') {
                Swal.fire({
                    title: "Error",
                    text: "No coupons available.",
                    icon: "error"
                });

                applyButton.disabled = false;
            } else if (data.success) {
				const cart = data.cart;

				const originalTotal = parseFloat(cart.totalCartPrice);
				const discountAmount = data.couponPrice
				let discountedTotal = originalTotal - discountAmount;

				if (discountedTotal < 2500) {
					discountedTotal += 80; 
				}	
				

				document.getElementById('subtotal-price').textContent = `${originalTotal.toFixed(2)} Rs`;
				document.getElementById('discount-value').textContent = `${data.discountPercentage}%`;
				document.getElementById('deducted-price').textContent = `${discountAmount.toFixed(2)} Rs`;
				document.getElementById('total-price').textContent = `${discountedTotal.toFixed(2)} Rs`;
			
				localStorage.setItem('discountedTotal', discountedTotal.toString());


                Swal.fire({
                    icon: 'success',
                    title: 'Success!',
                    text: 'Coupon applied successfully.',
                    showConfirmButton: false,
                    timer: 1500
                });

                discountInput.disabled = true;
                applyButton.textContent = "Applied";
                applyButton.classList.add('btn-success');
                applyButton.classList.remove('btn-primary');
                applyButton.disabled = true;
				removeButton.disabled = false;
            } else {
                Swal.fire({
                    title: "Invalid Coupon",
                    text: "The coupon code entered is not valid.",
                    icon: "error"
                });

                applyButton.disabled = false;
            }
        } catch (error) {
            console.error('Error checking coupon:', error);
            Swal.fire({
                title: "Error",
                text: "An error occurred. Please try again later.",
                icon: "error"
            });
        }
    }

	function handleRemoveCoupon(){
		event.preventDefault()
		discountInput.value = ''
		discountInput.disabled = false;

		const originalTotal = localStorage.getItem('discountedTotal');
		const deliveryCharge = originalTotal < 2500? 80 : 0;

		document.getElementById('discount-value').textContent = '0%';
		document.getElementById('deducted-price').textContent = '0 Rs';
		document.getElementById('total-price').textContent = `${parseInt(originalTotal) - deliveryCharge.toFixed(2)} Rs`; // Adjust total price accordingly

		applyButton.textContent = 'Apply';
		applyButton.classList.remove('btn-success');
		applyButton.classList.add('btn-primary');
		applyButton.disabled = false

		removeButton.disabled = true
		window.location.reload()
	}

    applyButton.addEventListener('click',handleInnerForm);
	removeButton.addEventListener('click',handleRemoveCoupon);


	removeButton.disabled = true;
});

</script>



<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.0.1/confetti.min.js"></script>


<!-- Plugins JS File -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.hoverIntent.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Main JS File -->
<script src="assets/js/main.js"></script>

</body>



<%-include('../layouts/footbar.ejs')%>
<%-include('../layouts/footer.ejs')%>