<%-include('../layouts/header.ejs')%>
<%-include('../layouts/navbar.ejs')%>


<style>

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,500&display=swap');

.card {
    background-color: #413f3f;
}

p {
    margin: 0px;
}

.h8 {
    font-size: 25px;
    font-weight: 600;
    color: white;
}

.card .atm {
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.card .visa {
    width: 50px;
    height: 20px;
    object-fit: fill;
}

.card .master {
    width: 50px;
    height: 50px;
    object-fit: fill;
}

.debit-card {
    width: 100%;
    height: 312px;
    padding: 20px;
    background-color: #52636d;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    position: relative;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #0000001a;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.debit-card:hover {
    box-shadow: 5px 3px 5px #000000a2;
}



.text-muted {
    font-size: 0.8rem;
}

.text-white {
    font-size: 14px;
}

.input {
    position: absolute;
    top: 6px;
    right: 0;
}





      .gradient-custom {
        background-image: url("/assets/images/backgrounds/login-bg.jp");
      }

      body {
        color: #1a202c;
        text-align: left;
      }

      .card {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
      }

      .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 2 solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
      }

      .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
      }

      .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
      }

      .gutters-sm>.col,
      .gutters-sm>[class*="col-"] {
        padding-right: 8px;
        padding-left: 8px;
      }

      .mb-3,
      .my-3 {
        margin-bottom: 1rem !important;
      }

      .bg-gray-300 {
        background-color: #e2e8f0;
      }

      .h-100 {
        height: 100% !important;
      }

      .shadow-none {
        box-shadow: none !important;
      }

      .buttons {
        width: 100%;
        height: 40px;
        border: none;
        background-color: white;
        color: black;
        border: 2px;
        border-radius: 5px;
        margin-top: 10px;
        text-align: left;
      }

      .buttons:hover {
        background-color: rgb(240, 104, 104);
      }

      .custom-border {
        border: 1px solid #e3e3e3;
        border-radius: 10px;
      }

      .card-body {
        border: 1px solid;
      }

     
      .edit-btn,
      .change-btn,
      .save-btn {
        background-color: white;
        color: black;
        border: 1px solid;
      }
      .button-group {
  display: flex;
  gap : 30px;
  margin-top: 10px;
}

.button-group .btn {
  flex: 1;
  margin-right: 10px;
}

.button-group .btn:last-child {
  margin-right: 0; 
}
/* Existing styles here */

.coupon-card {
    transition: all 0.3s ease-in-out;
    background: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border-radius: 10px;
    box-shadow: 3px 3px 5px #0000001a;
    cursor: pointer;
    margin: 10px 0;
    padding: 20px;
}

.coupon-card:hover {
    background: linear-gradient(160deg, #80D0C7 0%, #0093E9 100%);
    box-shadow: 5px 5px 10px #000000a2;
}

.empty-wishlist .empty-message {
    text-align: center;
}

.buttons {
    width: 100%;
    height: 40px;
    border: none;
    background-color: white;
    color: black;
    border: 2px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: left;
}

.buttons:hover {
    background-color: rgb(240, 104, 104);
}

.custom-border {
    border: 1px solid #e3e3e3;
    border-radius: 10px;
}
.copy-button {
    background-color: #696666;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}

</style>


<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.png'); width: 100%">
  <div class="container">
      <h1 class="page-title text-white">Coupons</h1>
  </div>
</div>

<div class="container">
  <div class="main-body">
      <div class="row gutters-sm" style="margin-top: 50px">
          <div class="col-md-3 mb-3">
              <div class="cardborder">
                  <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                          <img src="/assets/images/profile.jpg" />
                          <div class="mt-1">
                              <button class="buttons" onclick="location.href='/userProfile'">
                                  My Account
                                  <i class="fas fa-user" style="margin-right: 5px"></i>
                              </button>
                              <a href="/orderHistory">
                                  <button class="buttons">
                                      Order History<i style="margin-right: 5px" class="fas fa-cart-plus"></i>
                                  </button>
                              </a>
                              <button class="buttons" onclick="location.href='/addresses'">
                                  Addresses
                                  <i class="fas fa-address-book" style="margin-right: 5px"></i>
                              </button>
                              <a href="/wallet"><button class="buttons">Wallet <i class="fas fa-wallet" style="margin-right: 5px;"></i></button></a>

                              <button class="buttons" style="background-color: rgb(240, 104, 104)">
                                  Coupons <i class="fas fa-tag" style="margin-right: 5px"></i>
                              </button>
                              <a href="/logout">
                                  <button class="buttons">
                                      Logout
                                      <i class="fas fa-sign-out-alt" style="margin-right: 5px"></i>
                                  </button>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-8 ml-5">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <% if (coupons && coupons.length >= 1) { %>
                            <% coupons.forEach(item => { %>
                                <% if(item.eligible ==="usable") { %> 
                                    <div class="col-md-4">
                                        <div class="card coupon-card">
                                            <div class="card-body">
                                                <h5 class="card-title"><%= item.couponName %></h5><br>
                                                <h6 class="card-title">
                                                    <%= item.couponCode %>
                                                    <button class="copy-button" onclick="copyToClipboard('<%= item.couponCode %>')">Copy Code</button>
                                                </h6><br>
                                                <p class="card-text"><%= item.description %></p>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                                
                            <% }) %>
                        <% } else { %>
                            <div class="col-md-12">
                                <div class="empty-wishlist">
                                    <div class="empty-message">
                                        <p>Your Coupon List is empty.</p>
                                        <p>Buy some Games to get Coupons!</p>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <div class="row mt-3"></div>
                </div>
            </div>
            
</div>

      </div>
  </div>
</div>


<!-- function for copying coupon code to clipboard  -->
<script>
  function copyToClipboard(text) {
      navigator.clipboard.writeText(text).then(function() {
                  Swal.fire({
                      icon: 'success',
                      title: 'Copied!',
                      text: 'Coupon Code Copied to ClipBoard',
                      showConfirmButton: false,
                      timer: 1500
                  })
      }, function(err) {
          
      });
  }
</script>


<script>
import { Ripple, initMDB } from "mdb-ui-kit";

initMDB({ Ripple });
</script>






<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>\
<script src="https://use.fontawesome.com/releases/v5.7.2/css/all.css"></script>



<%-include('../layouts/footbar.ejs')%>
<%-include('../layouts/footer.ejs')%>




      