<%-include('../layouts/header.ejs')%>
<%-include('../layouts/mobilenav.ejs')%>
<%-include('../layouts/navbar.ejs')%>
<link rel="stylesheet" href="/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    
    <link rel="stylesheet" href="/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    
    <link rel="stylesheet" href="/assets/css/plugins/nouislider/nouislider.css">
    <link rel="stylesheet" href="/assets/css/demos/demo-11.css">

    <div class="page-wrapper">

        <div class="wrap-container">   
            <main class="main">
                

                
                    <div class="row">
                        <div class="col-xl-3 d-none d-xl-block">
                            <nav class="side-nav">
                                <div class="sidenav-title">Browse Categories</div><!-- End .sidenav-title -->
                                <ul class="menu-vertical sf-arrows text-black font-weight-bold">
                                    <% categories.forEach(category => { %>
                                        <% if (category.is_listed) { %> <!-- Check if the category is listed -->
                                            <li>
                                                <a href="#" class="text-black font-weight-bold"><%= category.name %></a>
                                            </li>
                                        <% } %>
                                    <% }) %>
                                    
                                </ul><!-- End .menu -->
                            </nav><!-- End .side-nav -->
                        </div><!-- End .col-lg-3 -->
                        <br><br>
                        <div class="col-lg-8 col-xl-6">
                            <div class="banner banner-overlay banner-lg content-left">
                                <a href="gameDetails?id=66407848141bb41ce6cfe4b2">
                                    <img src="assets/images/demos/demo-19/banners/fc3.jpg" alt="Banner" class="mb-3" style="margin-bottom: 1cm;">
                                </a>
                                <div class="banner-content">
                                    <div class="position-relative">
                                        <div class="text-center text-white font-weight-bold" style="font-size: 40px;">FAR CRY 3</div>
                                        <div class="border border-black rounded-lg p-3 bg-orange mt-3" style="border-width: 10px;">
                                            <a href="gameDetails?id=66407848141bb41ce6cfe4b2" class="banner-link size-lg font-weight-bold text-white">Purchase Now<i class="icon-long-arrow-right"></i></a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-6 -->
                        

                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <div class="banner banner-overlay banner-sm content-right">
                                <a href="gameDetails?id=6640797e141bb41ce6cfe604">
                                    <img src="assets/images/demos/demo-19/banners/fifa24.jpg" alt="Banner">
                                </a>
                                <div class="banner-content text-right">
                                    <div class="position-relative">
                                        <h4 class="banner-subtitle text-white font-weight-bold">Weekend Offer</h4>
                                        <h4 class="banner-price text-white font-weight-bold">Save<span class="price">$19,99</span></h4>
                                        <div class="border border-black rounded-lg p-3 bg-orange mt-3" style="border-width: 10px;">
                                            <a href="gameDetails?id=6640797e141bb41ce6cfe604" class="banner-link text-white font-weight-bold">Purchase Now <i class="icon-long-arrow-right"></i></a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div><!-- End .banner -->
                            

                            <div class="banner banner-overlay d-none d-lg-block banner-sm content-right align-center">
                                <a href="gameDetails?id=664079fd141bb41ce6cfe756">
                                    <img src="assets/images/demos/demo-19/banners/ac-mirage.jpg" alt="Banner">
                                </a>
                                <div class="banner-content text-right">
                                   
                                   
                                    <div class="border border-black rounded-lg p-3 bg-orange mt-3" style="border-width: 10px;">
                                        <a href="gameDetails?id=664079fd141bb41ce6cfe756" class="banner-link text-white font-weight-bold">Purchase Now <i class="icon-long-arrow-right"></i></a>
                                    </div>
                                </div> 
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-3 -->

                        

                        <div class="col-lg-12">
                            <div class="  banner-lg">
                                <a href="gameDetails?id=66407670141bb41ce6cfdfc0">
                                    <video src="assets/images/demos/demo-19/banners/forza-horizon.mp4"  class="col-lg-12" autoplay loop muted></video>
                                    
                                </a>
                                <div class="banner-content">
                                    <div class="text-center text-white font-weight-bold" style="font-size: 40px;">FORZA HORIZON 5</div>
                                    <h4 class="banner-subtitle text-white font-weight-bold">Amazing Value</h4>
                                    
                                    <div class="border border-black rounded-lg p-3 bg-orange mt-3" style="border-width: 10px;">
                                        <a href="gameDetails?id=66407670141bb41ce6cfdfc0" class="banner-link font-weight-bold text-white">Purchase Now<i class="icon-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-9 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->

                

                <div class="bg-light pt-3 pb-5 mb-5">
                    <div class="container">
                        <ul class="nav nav-pills nav-big nav-border-anim justify-content-center mb-5 text-black" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active text-black font-weight-bold" id="products-trending-link" data-toggle="tab" href="#products-trending-tab" role="tab" aria-controls="products-trending-tab" aria-selected="true">Now Trending</a>
                            </li>
                           
                        </ul>
                        <div class="tab-content tab-content-carousel">
                            <div class="tab-pane p-0 fade show active" id="products-trending-tab" role="tabpanel" aria-labelledby="products-trending-link">
                                <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                                    data-owl-options='{
                                        "nav": false, 
                                        "dots": true,
                                        "margin": 20,
                                        "loop": false,
                                        "responsive": {
                                            "0": {
                                                "items":2
                                            },
                                            "480": {
                                                "items":2
                                            },
                                            "768": {
                                                "items":3
                                            },
                                            "992": {
                                                "items":4
                                            },
                                            "1200": {
                                                "items":5,
                                                "nav": true
                                            }
                                        }
                                    }'>
                                    <div class="product">
                                        <figure class="product-media">
                                            <span class="product-label label-sale">Sale</span>
                                            <a href="product.html">
                                                <img src="assets/images/demos/demo-19/products/cod-ww2.jpeg" alt="Product image" class="product-image">
                                            </a>

                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-wishlist" title="Add to Wishlist"><span>add to wishlist</span></a>
                                            </div><!-- End .product-action-vertical -->

                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="#">Shooter</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="product.html">Call of Duty <br>WWII - Gold Edition</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                <span class="new-price">$24.00</span>
                                                <span class="old-price">Was $59.99</span>
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->

                                    <div class="product">
                                        <figure class="product-media">
                                            <a href="product.html">
                                                <img src="assets/images/demos/demo-19/products/fc-primal.jpeg" alt="Product image" class="product-image">
                                            </a>

                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-wishlist" title="Add to Wishlist"><span>add to wishlist</span></a>
                                            </div><!-- End .product-action-vertical -->

                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="#">Shooter</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="product.html">FAR CRY PRIMAL</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                $39.99
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->

                                    <div class="product">
                                        <figure class="product-media">
                                            <span class="product-label label-top">Top</span>
                                            <a href="product.html">
                                                <img src="assets/images/demos/demo-19/products/ghost recon.jpeg" alt="Product image" class="product-image">
                                            </a>

                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-wishlist" title="Add to Wishlist"><span>add to wishlist</span></a>
                                            </div><!-- End .product-action-vertical -->

                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="#">Shooter</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="product.html">GHOST RECON: <br>Wildlands</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                $59.99
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->

                                    <div class="product">
                                        <figure class="product-media">
                                            <a href="product.html">
                                                <img src="assets/images/demos/demo-19/products/witcher3.jpg" alt="Product image" class="product-image">
                                            </a>

                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-wishlist" title="Add to Wishlist"><span>add to wishlist</span></a>
                                            </div><!-- End .product-action-vertical -->

                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="#">Action & adventure</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="product.html">The Witcher 3: Wild Hunt</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                $39.99
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->

                                    <div class="product">
                                        <figure class="product-media">
                                            <span class="product-label label-sale">Sale</span>
                                            <a href="gameDetails?id=6640731a141bb41ce6cfd778">
                                                <img src="assets/images/demos/demo-19/products/gta5.png" alt="Product image" class="product-image">
                                            </a>

                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-wishlist" title="Add to Wishlist"><span>add to wishlist</span></a>
                                            </div><!-- End .product-action-vertical -->

                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="">Action</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="gameDetails?id=6640731a141bb41ce6cfd778">GTA 5</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                <span class="new-price">$19.49</span>
                                               
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->

                                    <div class="product">
                                        <figure class="product-media">
                                            <a href="product.html">
                                                <img src="assets/images/demos/demo-19/products/product-6.jpg" alt="Product image" class="product-image">
                                            </a>

                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-wishlist" title="Add to Wishlist"><span>add to wishlist</span></a>
                                            </div><!-- End .product-action-vertical -->

                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="#">Shooter</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="product.html">Tom Clancy’s <br>Ghost Recon Wildlands</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                $49.99
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .owl-carousel -->
                            </div><!-- .End .tab-pane -->
                            
                            <div class="tab-pane p-0 fade" id="products-best-tab" role="tabpanel" aria-labelledby="products-best-link">
                                <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                                    data-owl-options='{
                                        "nav": false, 
                                        "dots": true,
                                        "margin": 20,
                                        "loop": false,
                                        "responsive": {
                                            "0": {
                                                "items":2
                                            },
                                            "480": {
                                                "items":2
                                            },
                                            "768": {
                                                "items":3
                                            },
                                            "992": {
                                                "items":4
                                            },
                                            "1200": {
                                                "items":5,
                                                "nav": true
                                            }
                                        }
                                    }'>
                                    <div class="product">
                                        <figure class="product-media">
                                            <span class="product-label label-top">Top</span>
                                            <a href="product.html">
                                                <img src="assets/images/demos/demo-19/products/product-3.jpg" alt="Product image" class="product-image">
                                            </a>

                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-wishlist" title="Add to Wishlist"><span>add to wishlist</span></a>
                                            </div><!-- End .product-action-vertical -->

                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="#">Shooter</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="product.html">Borderlands: <br>The Handsome Collection</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                $59.99
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->

                                    <div class="product">
                                        <figure class="product-media">
                                            <a href="product.html">
                                                <img src="assets/images/demos/demo-19/products/product-2.jpg" alt="Product image" class="product-image">
                                            </a>

                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-wishlist" title="Add to Wishlist"><span>add to wishlist</span></a>
                                            </div><!-- End .product-action-vertical -->

                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="#">Shooter</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="product.html">World War Z</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                $39.99
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->

                                    <div class="product">
                                        <figure class="product-media">
                                            <a href="product.html">
                                                <img src="assets/images/demos/demo-19/products/product-4.jpg" alt="Product image" class="product-image">
                                            </a>

                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-wishlist" title="Add to Wishlist"><span>add to wishlist</span></a>
                                            </div><!-- End .product-action-vertical -->

                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="#">Action & adventure</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="product.html">The Witcher 3: Wild Hunt</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                $39.99
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->

                                    <div class="product">
                                        <figure class="product-media">
                                            <span class="product-label label-sale">Sale</span>
                                            <a href="product.html">
                                                <img src="assets/images/demos/demo-19/products/product-5.jpg" alt="Product image" class="product-image">
                                            </a>

                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-wishlist" title="Add to Wishlist"><span>add to wishlist</span></a>
                                            </div><!-- End .product-action-vertical -->

                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="gameDetails?id=6640731a141bb41ce6cfd778">Action</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="gameDetails?id=6640731a141bb41ce6cfd778">GTA 5</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                <span class="new-price">$19.49</span>
                                               
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->

                                    <div class="product">
                                        <figure class="product-media">
                                            <a href="product.html">
                                                <img src="assets/images/demos/demo-19/products/product-6.jpg" alt="Product image" class="product-image">
                                            </a>

                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-wishlist" title="Add to Wishlist"><span>add to wishlist</span></a>
                                            </div><!-- End .product-action-vertical -->

                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="#">Shooter</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="product.html">Tom Clancy’s <br>Ghost Recon Wildlands</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                $49.99
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .owl-carousel -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .container -->
                </div><!-- End .bg-light pt-4 pb-4 -->

               

                <div class="container">
                    <hr class="mt-0 mb-4">
                </div><!-- End .container -->
                
                <div class="container">
                    <div class="heading heading-flex mb-2 mb-lg-3">
                        <div class="heading-left text-center">
                            <h2 class="title">Games Coming Soon</h2><!-- End .title -->
                        </div><!-- End .heading-left -->
                    </div><!-- End .heading -->
                
                

                    <div class="games-soon">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="products">
                                    <div class="row">
                                        <div class="col-6 col-md-4">
                                            <div class="product">
                                                <figure class="product-media">
                                                    <a href="/comingSoonDetails?id=6640dc7097bac18798a45109">
                                                        <img src="assets/images/demos/demo-19/products/bgone.jpg" alt="Product image" class="product-image">
                                                    </a>

                                                    

                                                    
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <div class="product-cat">
                                                        <a href="/comingSoonDetails?id=6640dc7097bac18798a45109">HORROR</a>
                                                    </div><!-- End .product-cat -->
                                                    <h3 class="product-title"><a href="product.html">BANISHERS : <br>Ghost of the New Eden</a></h3><!-- End .product-title -->
                                                    
                                                </div><!-- End .product-body -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 col-md-4 -->

                                        <div class="col-6 col-md-4">
                                            <div class="product">
                                                <figure class="product-media">
                                                    <a href="/comingSoonDetails?id=6640dc9797bac18798a45119">
                                                        <img src="assets/images/demos/demo-19/products/helldivers2-.jpg" alt="Product image" class="product-image">
                                                    </a>             
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <div class="product-cat">
                                                        <a href="#">SHOOTER</a>
                                                    </div><!-- End .product-cat -->
                                                    <h3 class="product-title"><a href="/comingSoonDetails?id=6640dc9797bac18798a45119">Helldivers 2</a></h3><!-- End .product-title -->
                                                   
                                                </div><!-- End .product-body -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 col-md-4 -->

                                        <div class="col-6 col-md-4">
                                            <div class="product">
                                                <figure class="product-media">
                                                    <a href="/comingSoonDetails?id=6640dcca97bac18798a45129">
                                                        <img src="assets/images/demos/demo-19/products/like a a dragon.jpeg" alt="Product image" class="product-image">
                                                    </a>                                          
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <div class="product-cat">
                                                        <a href="#">ACTION</a>
                                                    </div><!-- End .product-cat -->
                                                    <h3 class="product-title"><a href="/comingSoonDetails?id=6640dcca97bac18798a45129">Like a Dragon : <br>Infinite Health</a></h3><!-- End .product-title -->
                                                    
                                                </div><!-- End .product-body -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 col-md-4 -->

                                        <div class="col-6 col-md-4">
                                            <div class="product">
                                                <figure class="product-media">
                                                    <a href="/comingSoonDetails?id=6640dd3997bac18798a45142">
                                                        <img src="assets/images/demos/demo-19/products/pop.jpg" alt="Product image" class="product-image">
                                                    </a>                                                  
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <div class="product-cat">
                                                        <a href="/comingSoonDetails?id=6640dd3997bac18798a45142">ACTION</a>
                                                    </div><!-- End .product-cat -->
                                                    <h3 class="product-title"><a href="/comingSoonDetails?id=6640dd3997bac18798a45142">Prince of Persia : <br>The Lost Crown</a></h3><!-- End .product-title -->
                                                    
                                                </div><!-- End .product-body -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 col-md-4 -->

                                        <div class="col-6 col-md-4">
                                            <div class="product">
                                                <figure class="product-media">
                                                    <a href="/comingSoonDetails?id=6640dd8597bac18798a45156">
                                                        <img src="assets/images/demos/demo-19/products/ss.jpg" alt="Product image" class="product-image">
                                                    </a>                                                   
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <div class="product-cat">
                                                        <a href="/comingSoonDetails?id=6640dd8597bac18798a45156">SHOOTER</a>
                                                    </div><!-- End .product-cat -->
                                                    <h3 class="product-title"><a href="/comingSoonDetails?id=6640dd8597bac18798a45156">Suicide Squad : <br>Kill the Justice League</a></h3><!-- End .product-title -->
                                                    
                                                </div><!-- End .product-body -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 col-md-4 -->

                                        <div class="col-6 col-md-4">
                                            <div class="product">
                                                <figure class="product-media">
                                                    <a href="/comingSoonDetails?id=6640dda497bac18798a4516c">
                                                        <img src="assets/images/demos/demo-19/products/robocop.jpeg" alt="Product image" class="product-image">
                                                    </a>                                                
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <div class="product-cat">
                                                        <a href="/comingSoonDetails?id=6640dda497bac18798a4516c">SHOOTER</a>
                                                    </div><!-- End .product-cat -->
                                                    <h3 class="product-title"><a href="/comingSoonDetails?id=6640dda497bac18798a4516c">ROBOCOP <br>The Rogue City</a></h3><!-- End .product-title -->
                                                    
                                                </div><!-- End .product-body -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 col-md-4 -->
                                    </div><!-- End .row -->
                                </div><!-- End .products -->
                            </div><!-- End .col-lg-7 -->

                            <div class="col-lg-5 order-lg-first">
                                <div class="games-banners-slider owl-carousel owl-simple" data-toggle="owl" 
                                    data-owl-options='{
                                        "nav": false, 
                                        "dots": true,
                                        "margin": 0,
                                        "loop": false,
                                        "items":1
                                    }'>
                                    <div class="banner banner-overlay product-banner">
                                        <a href="/comingSoonDetails?id=6640dbbe97bac18798a450ea">
                                            <img src="assets/images/demos/demo-19/banners/gta6.jpeg" alt="Banner">
                                        </a>
                                        <div class="banner-content align-items-center center">
                                            
                                            
                                            
                                        </div>
                                    </div><!-- End .banner -->

                                    

                                </div><!-- End .owl-carousel -->
                            </div><!-- End .col-lg-5 -->
                        </div><!-- End .row -->
                    </div><!-- End .games-soon -->
                

                <div class="mb-3"></div><!-- End .mb-3 -->

               

                
                </div><!-- End .blog-posts -->
            </main><!-- End .main -->
    <style>
        .bg-orange {
    background-color: orange; /* Adjust the color as needed */
}

        

    </style>
    
<%-include('../layouts/footbar.ejs')%>
<%-include('../layouts/footer.ejs')%>