<%-include('../layouts/header.ejs')%>
<%-include('../layouts/navbar.ejs')%>


<style>
  .gradient-custom {
    background-image: url("/assets/images/backgrounds/login-bg.jp");
  }
  body {
    color: #1a202c;
    text-align: left;
  }

  .card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 2 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }

  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
  }

  .gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
  }

  .gutters-sm > .col,
  .gutters-sm > [class*="col-"] {
    padding-right: 8px;
    padding-left: 8px;
  }

  .mb-3,
  .my-3 {
    margin-bottom: 1rem !important;
  }

  .bg-gray-300 {
    background-color: #e2e8f0;
  }

  .h-100 {
    height: 100% !important;
  }

  .shadow-none {
    box-shadow: none !important;
  }

  .buttons {
    width: 100%;
    height: 40px;
    border: none;
    background-color: white;
    color: black;
    border: 2px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: left;
  }
  .buttons:hover {
    background-color: rgb(240, 104, 104);
  }
  /* breadcrums */

  .breadcrumbs {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    font-size: 16px;
  }
  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.85rem 1.5rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: -0.01em;
    min-width: 137px;
    border-radius: 0;
    white-space: normal;
    transition: all 0.3s;
  }
  .breadcrumbs ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .breadcrumbs li {
    display: inline;
  }

  .breadcrumbs li:not(:last-child):after {
    content: " / ";
    margin: 0 5px;
  }

  .breadcrumbs a {
    text-decoration: none;
    color: #007bff;
  }

  .breadcrumbs a:hover {
    text-decoration: underline;
    color: #0056b3;
  }
  .custom-border {
    border: 1px solid #e3e3e3;
    border-radius: 10px;
  }
  .card-body {
    border: 1px solid;
  }
  .custom-btn {
    background-color: white;
    color: black;
    border: 1px solid;
  }
  .custom-btn:hover {
    background-color: rgb(240, 104, 104);
  }
  .edit-btn,
  .change-btn,
  .save-btn {
    background-color: white;
    color: black;
    border: 1px solid;
  }
  .save-btn:hover {
    background-color: rgb(99, 175, 97);
  }
  .edit-btn:hover {
    background-color: rgb(99, 175, 97);
  }
  .change-btn:hover {
    background-color: #797474;
  }
</style>


<div
  class="page-header text-center"
  style="background-image: url('assets/images/page-header-bg.png'); width: 100%"
>
  <div class="container">
    <h1 class="page-title text-white">Order History</h1>
  </div>
  <!-- End .container -->
</div> 

<div class="container-fluid">
  <div class="main-body">
    <div class="row gutters-sm" style="margin-top: 50px">
      <div class="col-md-3 mb-3">
        <div class="cardborder">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="/assets/images/profile.jpg" />
              <div class="mt-1">
                <button class="buttons" onclick="location.href='/userProfile'">
                  My Account
                  <i class="fas fa-user" style="margin-right: 5px"></i>
                </button>
                <a href="/orderHistory"
                  ><button
                    class="buttons"
                    style="background-color: rgb(240, 104, 104)"
                  >
                    Order History
                    <i
                      style="margin-right: 5px"
                      class="fas fa-cart-plus"
                    ></i></button
                ></a>
                <button class="buttons" onclick="location.href='/addresses'">
                  Addresses
                  <i class="fas fa-address-book" style="margin-right: 5px"></i>
                </button>
                <button class="buttons">
                  Wallet <i class="fas fa-wallet" style="margin-right: 5px"></i>
                </button>
                <button class="buttons">
                  Offers <i class="fas fa-tag" style="margin-right: 5px"></i>
                </button>
                <a href="/logout"
                  ><button class="buttons">
                    Logout
                    <i
                      class="fas fa-sign-out-alt"
                      style="margin-right: 5px"
                    ></i></button
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-8 ml-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-12 col-xl-12">
                <div class="card" style="border-radius: 10px">
                    <div class="card-body p-4">
                        <% if (order.length === 0) { %> 
                            <h4 class="text-center">You haven't Ordered Anything yet!</h4>
                        <% } else { %>
                            <% order.forEach((orderItem ,  index) => { %>
                                <div class="card shadow-0 border mb-4">
                                    <div class="card-body">
                                        <div class="row">
                                            <% orderItem.games.forEach((game, index) => { %>
                                              
                                                <div class="col-md-3 mt-1">
                                                    <img src="<%= game.gameId.mainImage[0].path %>" class=" " style="height: 75px; width: 75px" alt="<%= game.gameId.name %>" />
                                                </div>
                                                <% if (game.Status==='Cancelled') { %>
                                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                        <p class="text-muted mb-0" style="text-decoration: line-through;"><%= game.gameId.name %></p>
                                                    </div>
                                                <%  }else { %>
                                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                      <p class="text-muted mb-0"><%= game.gameId.name %></p>
                                                    </div>
                                                <%   }  %> 
                                                <% if (game.Status==='Cancelled') { %> 
                                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                        <p class="text-muted mb-0 small" style="text-decoration: line-through;">Qty: <%= game.quantity %></p>
                                                    </div>
                                                <%  }else { %> 
                                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                      <p class="text-muted mb-0 small" >Qty: <%= game.quantity %></p>
                                                    </div>
                                                <%   }  %>    
                                                <% if (game.Status==='Cancelled') { %> 
                                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                        <p class="text-muted mb-0 small" style="text-decoration: line-through;"><%= game.totalAmount %></p>
                                                    </div>
                                                <%  }else { %> 
                                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                      <p class="text-muted mb-0 small"><%= game.totalAmount %></p>
                                                    </div>
                                                <%   }  %>  
                                                <% if (game.Status==='Cancelled') { %>    
                                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                        <p class="text-muted mb-0" style="font-weight: bold; text-decoration: line-through;" ><%= orderItem.paymentMethod %></p>
                                                    </div>
                                                <%  }else { %> 
                                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                      <p class="text-muted mb-0" style="font-weight: bold;"><%= orderItem.paymentMethod %></p>
                                                    </div>
                                                <%   }  %> 
                                            <% }) %>
                                        </div> 
                                        <div class="row mt-3" style="font-weight: bold;">
                                          <% if (orderItem.discount) { %>
                                              <% const discountedPrice = orderItem.totalCartPrice - (orderItem.totalCartPrice * orderItem.discount/100) %>
                                              <div class="col-md-3">
                                                <p class="text-muted mb-0" style="font-weight: bold;">Total Price: <%= discountedPrice %></p>
                                              </div>
                                          <% }else { %>
                                              <div class="col-md-3">
                                                <p class="text-muted mb-0" style="font-weight: bold;">Total Price: <%= orderItem.totalCartPrice %></p>
                                              </div>
                                          <% } %> 
                                          
                                          
                                            
                                            <div class="col-md-3">
                                              
                                                <p class="text-muted mb-0" style="font-weight: bold;">
                                                  Ordered Date: <%= new Date(orderItem.orderDate).toLocaleString('en-IN', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', hour12: true }) %></p>
                                            </div>
                                            <div class="col-md-3">
                                                <button class="btn btn-primary" onclick="showOrderDetailsPage('<%= orderItem.orderId%>')">Order Details</button>
                                            </div>
                                            
                                            <% if(orderItem.paymentStatus !=='Success') { %>
                                              <div class="col-md-3">
                                                <button class="btn btn-info" onclick="initiateRepayment('<%= orderItem._id %>', '<%= orderItem.totalCartPrice %>')">Re-Payment</button>
                                              </div>
                                            <% }else { %>
                                              <p style="font-weight: bold; color: green;">Payment    Success</p>
                                            <% } %>
                                            
                                                
                                            
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        <% } %>
                        <nav aria-label="Page navigation">
                          <ul class="pagination justify-content-center">
                            <li class="page-item <%= prevPage === 1? 'disabled' : '' %>">
                            <a class="page-link page-link-prev" href="?page=<%= prevPage %>" aria-label="Previous">
                              <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                            </a>
                            </li>
                            <% for(let i = 1; i <= totalPages; i++) { %>
                            <li class="page-item <%= page === i? 'active' : '' %>">
                              <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                            </li>
                            <% } %>
                            <li class="page-item <%= nextPage > totalPages? 'disabled' : '' %>">
                            <a class="page-link page-link-next" href="?page=<%= nextPage %>" aria-label="Next">
                              Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                            </a>
                            </li>
                          </ul>
                          </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
      
    </div>
  </div>
</div> 


<!--  pass orderId to backend / loadorderDetailsPage -->
<script>
function showOrderDetailsPage(orderId) {
  const url = `/orderDetailsPage?orderId=${orderId}`;
  window.location.href = url;
}
</script>
	

<script>
  async function initiateRepayment(orderId, amount) {
    try {
      const response = await fetch('/repayment', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ orderId, amount })
      });

      const data = await response.json();
      
      if (data.success && data.Razorpay) {
        
        const options = {
          key: 'rzp_test_v7eXLfL0Wt6Ws9',
          amount: Number(data.amount),
          currency: 'INR',
          name: 'Rush Games',
          description: 'Test Transaction',
          image: 'https://example.com/your_logo',
          order_id: data.Razorpay.id,
          handler: function (response) {
            verifyRepayment(response.razorpay_payment_id, response.razorpay_order_id, response.razorpay_signature , orderId);
          },
          prefill: {
            name: 'Abhijith',
            email: 'abhijithasokan831@gmail.com',
            contact: '1234567890'
          },
          notes: {
            address: 'Razorpay Corporate Office'
          },
          theme: {
            color: '#3399cc'
          }
        };

        var rzp1 = new Razorpay(options);
        rzp1.open();
      } else {
        
        alert('Failed to initiate payment. Please try again.');
      }
    } catch (error) {
      
      console.error('Error initiating payment:', error);
      alert('An error occurred. Please try again.');
    }
  }

  async function verifyRepayment(paymentId, razorOrderId, signature , orderId) {
    try {
      const response = await fetch('/verifyRepayment', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ paymentId, razorOrderId, signature ,orderId})
      });

      const data = await response.json();
      if (data.success) {
        Swal.fire({
                    icon: 'success',
                    title: 'Success!',
                    text: 'Payment verified successfully!',
                    showConfirmButton: false,
                    timer: 1500
                });
                setTimeout(()=>{
                  window.location.reload()
                },1500)
      
    } else {
      Swal.fire({
                    icon: 'serror',
                    title: 'Error!',
                    text: 'Payment verification failed. Please contact support',
                    showConfirmButton: false,
                    timer: 1500
                });
                setTimeout(()=>{
                  window.location.reload()
                },1500)
 
    }
    } catch (error) {
      console.log('3');
      console.error('Error verifying payment:', error);
      alert('An error occurred. Please try again.');
    }
  }
</script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<%-include('../layouts/footbar.ejs')%> 
<%-include('../layouts/footer.ejs')%>
